h1 {
color: blue;
text-align: center;  
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
body{
  background-color: #D6C3C9;
  font-size: 0.7em;
  font-style: 'Neucha', cursive;
  text-align: center;
}
strong{
  font-style: italic;
}
em{
  font-weight: 100;
}
